body{
    font-family: monospace;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
    box-shadow: 0px 20px 15px 0px grey;
    border-radius: 1em;
}
h1{
    text-align: center;
}
ul li{
    padding: .5em;
}
li button {
    border-radius: 3px;
    background-color: gray;
    color: #fff;
    padding: 5px;
}
input{
    font-size: 0.8em;
    border: none;
    border-radius: 5px;
    padding: 3px;
    background-color: beige;
}
#hex-color{
    width: 20%;
}
#display-color{
    height: 10em;
    width: 10em;
    border-radius: 10px;
    border: solid 1px lightgrey;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}
#my-footer{
    padding: 1%;
    margin-top: 3%;
    background-color: #000;
    border-radius: 0em 0em 1em 1em;
    color: #fff;
    text-align: center;
}
#gh-logo{
    margin-top: 1%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
    body{
        width: 90%;
        font-size: 1.2em;
    }
    h1{
        font-size: 1.2em;
    }
    input{
        font-size: 0.7em;
    }
    ul li{
        padding: .2em;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
